:css
  .dataTables_paginate { float: right; margin-top:-18px; }
  .dataTables_length{margin-left: 215px;margin-top: -15px;display:none;}
%div.table-responsive
  -if @current_user.is_admin?
    - as_to = cookies[:task_assigned_to]
  -else
    - as_to = current_user.id
  %table.table.white-table.table-hover.ajax-task-listing{cellspacing: "40", id: "taskList", style: "box-shadow: 0 0 5px #aaa;margin-bottom: 20px;","data-source"=>tasks_url(format: 'json',params: {cuser: current_user.id, deal_id: (!@deal.nil? ? @deal.id : 0), deal_type: cookies[:deal_type_val], asg_to: cookies[:asg_to_val], task_type: cookies[:task_type_val] , task_status: params[:task_status], dt_range: cookies[:dt_range], assigned_to: as_to,y: cookies[:task_year],q: cookies[:task_quarter], t_type: cookies[:t_type]})}

    %thead
      %tr
        %th
        %th
          Detail
        %th
          Contact            
        %th
          Next Action
        %th
          Type
        //%th
        //  Action
    %tbody
  =render :partial => "tasks/task_edit_popup"
  =render :partial => "tasks/task_followup_popup"
   
:javascript
  //$(document).ready(function() {
  //if("#{params[:task_status]}" != "today" || "#{params[:task_status]}" != "upcoming" || "#{params[:task_status]}" != "overdue" ){col="{sClass: 'check_box_col_width'},{sClass: 'col-md-7'},  null" }else{col="sClass: 'check_box_col_width'},{sClass: 'col-md-7'}, null, null"}
   if("#{params[:task_status]}" == "today" || "#{params[:task_status]}" == "upcoming" || "#{params[:task_status]}" == "overdue" ){
        $('#taskList').dataTable({
          oLanguage: {"sLengthMenu": "_MENU_" ,
            oPaginate: {
              "sPrevious": "Prev"
            }
          },
        sPaginationType: "bootstrap",
        bJQueryUI: true,
        bServerSide: true,
        "bStateSave": true,
        aLengthMenu: [[20, 25, 50, 100], [20, 25, 50, 100]],
        iDisplayLength: 20,
        bProcessing: display_loader(),
        aoColumns: [{sClass: 'check_box_col_width'},{sClass: 'col-md-8'},null],
        "sDom": '<"dtTop dtTables">rt<"dtBottom"><"dtInfo fl"i><"dtPagination fr"p>',
        sAjaxSource: $('#taskList').data('source'),
        bLengthChange: true,
        bFilter: false,
        bSort: false,
        aoColumnDefs: [
          {
            aTargets: [0],
              mRender: function(data, type, row ){
                
                $("#"+$("#task_status_value").val()+"Badge").html('(' + row[14] + ')')
                if(row[14] > 25){
                 $(".dataTables_length").show();
                 $('.dataTables_length select').addClass('form-control');
                }
                 $('.dataTables_length select').addClass('form-control');
                str = "<div class='priority_border' style='background:"+row[0]+"'></div><div class='navbar-left' style='width:36px'>";
                str += "<div class='dropdown'><div class='deal_set dropdown-toggle' data-toggle='dropdown' href='javascript:' rel='tooltip' title='Actions' style='cursor:pointer'></div>";
                var cldurl= "#{ENV['cl	oudfront']}"
                if(row[11] == "false"){
                 str += "<ul class='dropdown-menu' style='top: 10px;left: 0px;'><li class='arrow_top'></li><li><a href='javascript:void(0)' onclick=\"$('#taskEditModal').modal('show');edit_popup('"+row[3]+"');\" rel='tooltip' title='Edit'><span class='glyphicon glyphicon-edit' style='margin-right:5px;'></span>Edit</a></li><li><a href='javascript:void(0)' onclick=\"$('#taskFollowModal').modal('show');follow_popup('"+row[3]+"')\" title='Follow-up'><span class='add_i_flow'></span>Follow Up</a></li><li><a  href='javascript:' onclick=\"delete_task('"+row[3]+"', check_active_tab(),'"+row[18]+"');\"rel='tooltip nofollow'  rel='tooltip nofollow' title='Delete'><span class='glyphicon glyphicon-trash' style='margin-right:5px;'></span>Delete</a></li></ul>";
                  }else{
                    str+= "<ul class='dropdown-menu' style='top: 10px;left: 0px;'><li class='arrow_top'></li><li><a href='javascript:void(0)' onclick=\"$('#taskFollowModal').modal('show');follow_popup('"+row[3]+"')\" rel='tooltip' title='Follow-up'><span class='add_i_flow'></span>Follow Up</a></li></ul>";
                }            
                return str + "</div><div style='width:36px;text-align:center'>"+row[2]+"</div></div>";
              }
          },
          {aTargets: [1],
              mRender: function(data, type, row ){
                return "<div class='lead-profile-icon fl' style='background:" + row[22] + "'>" + row[21] + "</div><div style="+row[13]+"> \
                      <span class='task_list'> \
                        <span> \
                          <a class='link_n' href='"+row[12]+"' title='"+row[4]+"'>"+row[28]+"</a> \
                          <b>&nbsp;&nbsp;&bull;</b> \
                          <span class='due_date'> \
                            Due on &nbsp;"+row[5]+" \
                          </span> \
                          <br> \
                          <span class='assigned_user'> \
                            Assigned to "+row[6]+" \
                            <b>&nbsp;&nbsp;&bull;</b> \
                            <font class='created_by'> \
                              Created \
                              "+row[7]+" \
                              <b>&nbsp;&nbsp;&bull;</b> \
                              By "+row[8]+" \
                            </font> \
                          </span> \
                        </span> \
                      </span> \
                    </div><div class='cb'></div>"
                }},
     
          {aTargets: [2],
              mRender: function(data, type, row ){
                return "<div>"+row[19]+"</div> \
                        <div style='font-size: 10px;'><a href='/contact/"+row[27]+"' class='change-color-ll' data-target = '#SendEmailModal' data-toggle = 'modal' rel='tooltip' onclick='$(\"#send-mail-popup\").get(0).reset();$(\"#to\").val(\"" + row[20] + "\");$(\"#mailer_id\").val(\"" + row[24] + "\");$(\"#mailer_type\").val(\"" + row[25] + "\");$(\"#email_contact_id\").val(\"" + row[24] + "\");$(\"#email_contact_type\").val(\"" + row[25] + "\")'>"+row[20]+"</a></div>"
                }},
          {aTargets: [3],
            mRender: function(data, type, row ){
            //if("#{params[:task_status]}" != "today" || "#{params[:task_status]}" != "upcoming" || "#{params[:task_status]}" != "overdue" ){
              return "<div class='next_action'><span style='color:#666;width:80%' class='nxt-action-name'>"+row[9]+"</span></div>";
             // }
              
              }},
          {aTargets: [4],
              mRender: function(data, type, row ){
                if(row[10] != ''){
                  if(row[10].length > 10)
                    var name = row[10].substring(0,7) + "..."
                  else
                    var name = row[10]
                }
                return "<div style="+row[13]+"> \
                        <div class='label"+row[10]+" labelTaskType col-md-10' title='"+row[10]+"'>"+name+"</div><div class='dropdown'><span class='caret dropdown-toggle space-left black' style='cursor:pointer' data-toggle='dropdown' onclick='getTaskType("+row[3]+",\""+row[10]+"\")'></span><ul class='dropdown-menu' style='top:14px;left: -52px;'><li class='arrow_top' style='left:115px;top:-11px'></li><div class='task-type-list'></div></ul></div>\
                        <div class='cb'></div><div style='font-size: 12px;font-style: italic;'>"+row[16]+"</div> \
                        </div>"
                
                }}
         
        ],
        fnPreDrawCallback: function() { $('#task_loader').show();},
        fnDrawCallback: function() {$('#task_loader').hide();$('div').powerTip({smartPlacement: true,fadeInTime: 100,fadeOutTime: 200});},
        fnRowCallback: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {      
          $(nRow).addClass('task_row');
           $(nRow).hover(
            function() {
            $(this).find("div.action_task").show();
            }, function() {
            $(this).find("div.action_task").hide();
           });
           
        }
        
      });  
   
   }else{
      $('#taskList').dataTable({
        oLanguage: {"sLengthMenu": "_MENU_" },
        sPaginationType: "bootstrap",
        bJQueryUI: true,
        bServerSide: true,
        "bStateSave": true,
        aLengthMenu: [[20, 25, 50, 100], [20, 25, 50, 100]],
        iDisplayLength: 20,
        bProcessing: display_loader(),
        aoColumns: [{sClass: 'check_box_col_width'},{sClass: 'col-md-7'}, null, null],
        "sDom": '<"dtTop dtTables">rt<"dtBottom"><"dtInfo fl"i><"dtPagination fr"p>',
        sAjaxSource: $('#taskList').data('source'),
        bLengthChange: true,
        bFilter: false,
        bSort: false,
        aoColumnDefs: [
          {
            aTargets: [0],
              mRender: function(data, type, row ){
                
                $("#"+$("#task_status_value").val()+"Badge").html('(' + row[14] + ')')
                if(row[14] > 25){
                 $(".dataTables_length").show();
                 $('.dataTables_length select').addClass('form-control');
                }
                str = "<div class='priority_border' style='background:"+row[0]+"'></div><div class='navbar-left' style='width:36px'>";
                str += "<div class='dropdown'><div class='deal_set fl dropdown-toggle' data-toggle='dropdown' href='javascript:' rel='tooltip' title='Actions' style='cursor:pointer'></div>";
                var cldurl= "#{ENV['cl	oudfront']}"
                if(row[11] == "false"){
                 str += "<ul class='dropdown-menu' style='top: 10px;left: -6px;'><li class='arrow_top'></li><li><a href='javascript:void(0)' onclick=\"$('#taskEditModal').modal('show');edit_popup('"+row[3]+"');$('#clicked_button_ref').val(check_active_tab());\" rel='tooltip' title='Edit'><span class='glyphicon glyphicon-edit' style='margin-right:5px;'></span>Edit</a></li><li><a href='javascript:void(0)' onclick=\"$('#taskFollowModal').modal('show');follow_popup('"+row[3]+"')\" title='Follow-up'><span class='add_i_flow'></span>Follow Up</a></li><li><a href='javascript:' onclick=\"delete_task('"+row[3]+"', check_active_tab(),'"+row[18]+"');\"rel='tooltip nofollow' title='Delete'><span class='glyphicon glyphicon-trash' style='margin-right:5px;'></span>Delete</a></li></ul>";
                  }else{
                    str+= "<ul class='dropdown-menu' style='top: 10px;left: -6px;'><li class='arrow_top'></li><li><a href='javascript:void(0)' onclick=\"$('#taskFollowModal').modal('show');follow_popup('"+row[3]+"')\" rel='tooltip' title='Follow-up'><span class='add_i_flow'></span>Follow Up</a></li></ul>";
                }            
                return str + "</div><div class='cb' style='width:20px;text-align:center'>"+row[2]+"</div></div>";
              }
          },
          {aTargets: [1],
              mRender: function(data, type, row ){
               if(row[23] == ""){
                  str = "<div class='lead-profile-icon fl' style='background:" + row[22] + "'>" + row[21] + "</div>";
                }else{
                  str = "<div class='contact-img-center' style='position:relative;'><img src='" + row[23] + "' style='height:40px;width:40px;left:3px;'></div>";
                }
                str += "<div style="+row[26]+"> \
                      <span class='task_list'> \
                        <span> \
                          <a class='link_n' href='"+row[12]+"' title='"+row[4]+"'>"+row[28]+"</a> \
                          <b>&nbsp;&nbsp;&bull;</b> \
                          <span class='due_date'> \
                            Due on &nbsp;"+row[5]+" \
                          </span> \
                          <br> \
                          <span class='assigned_user'> "
                          if(row[11] == "true"){
                           str +=" Completed on &nbsp;<i>"+row[15] +"</i>\
                            <b>&nbsp;&nbsp;&bull;</b> "
                           }
                           str += " Assigned to "+row[6]+" \
                            <b>&nbsp;&nbsp;&bull;</b> \
                            <font class='created_by'> \
                              Created \
                              "+row[7]+" \
                              <b>&nbsp;&nbsp;&bull;</b> \
                              By "+row[8]+" \
                            </font> \
                          </span> \
                        </span> \
                      </span> \
                    </div><div class='cb'></div>"
                    return str 
                }},
          {aTargets: [2],
              mRender: function(data, type, row ){
                return "<div><a href='/contact/"+row[27]+"' class='change-color-ll'>"+row[19]+"</a></div> \
                        <div style='font-size: 10px;'><a href='/contact/"+row[27]+"' class='change-color-ll' data-target = '#SendEmailModal' data-toggle = 'modal' rel='tooltip' onclick='$(\"#send-mail-popup\").get(0).reset();$(\"#to\").val(\"" + row[20] + "\");$(\"#mailer_id\").val(\"" + row[24] + "\");$(\"#mailer_type\").val(\"" + row[25] + "\");$(\"#email_contact_id\").val(\"" + row[24] + "\");$(\"#email_contact_type\").val(\"" + row[25] + "\")'>"+row[20]+"</a></div>"
                
                }},
          {aTargets: [3],
              mRender: function(data, type, row ){
              //if("#{params[:task_status]}" != "today" || "#{params[:task_status]}" != "upcoming" || "#{params[:task_status]}" != "overdue" ){
                return "<div class='next_action'><span style='color:#666;width:80%' class='nxt-action-name'>"+row[9]+"</span></div>";
               // }
                
                }},
          
          {aTargets: [4],
              mRender: function(data, type, row ){
                if(row[10] != ''){
                  if(row[10].length > 10)
                    var name = row[10].substring(0,7) + "..."
                  else
                    var name = row[10]
                }
                str = "<div style="+row[13]+"> \
                        <div class='label"+row[10]+" labelTaskType col-md-10 task_"+row[3]+"' title='"+row[10]+"'>"+name+"</div><div class='dropdown'><span class='caret dropdown-toggle space-left black' style='cursor:pointer' data-toggle='dropdown' onclick='getTaskType("+row[3]+",\""+row[10]+"\")'></span><ul class='dropdown-menu' style='top:14px;left: -52px;'><li class='arrow_top' style='left:115px;top:-11px'></li><div class='task-type-list'></div></ul></div>\
                        <div class='cb'></div>"   
                 if(row[11] == "false"){
                    str+="<div style='font-size: 12px;font-style: italic;'>"+row[17]+"</div> "
                 }
                  str += "   </div>"
                return str
                }}
        ],
        fnPreDrawCallback: function() { $('#task_loader').show();},
        fnDrawCallback: function() {$('#task_loader').hide();$('div').powerTip({smartPlacement: true,fadeInTime: 100,fadeOutTime: 200});},
        fnRowCallback: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {      
          $(nRow).addClass('task_row');
           $(nRow).hover(
            function() {
            $(this).find("div.action_task").show();
            }, function() {
            $(this).find("div.action_task").hide();
           });
           
        }
        
      });
  }
  $('#taskList').on( 'xhr', function ( e, o, json ) { 
    $("#"+$("#task_status_value").val()+"Badge").html('(' + json.iTotalDisplayRecords + ')');
    if("#{cookies[:t_type]}" != ""){
      $('#filter_msg').show().html('Filtered ' + json.iTotalDisplayRecords + ' tasks from ' +  json.iTotalRecords + ' tasks <a href="/tasks?type=all" class="btn btn-xs btn-warning" onclick="reset_all_task_filter()">RESET</a>')      
      $.removeCookie("t_type");      
    }else{
      $('#filter_msg').hide()
    }
  });
  function display_loader(){
    //$("#task_loader").show();
    //if($("#"+$("#task_status_value").val()+"Task").hasClass("active"))
      //$("#"+$("#task_status_value").val()+"Badge").html(0)
    
  }
  //});
  
  function edit_popup(id){
    $.ajax({
      type: "POST",
      url: "/edit_task",
      dataType: 'json',
      async: true,
      data: {task_id: id},
      beforeSend: function(){
        $("#task_loader").show();
      },
      success: function(data)
      {
      },
      error: function(data) {
        $("#task_loader").hide();
      },
      complete: function(data) {
        $("#form_content").html(data.responseText);
        $("#task_loader").hide();
        $('#clicked_button_ref').val(check_active_tab());
        
      }
    });
  }
  function follow_popup(id){
    $.ajax({
      type: "POST",
      url: "/follow_up_task",
      dataType: 'json',
      async: true,
      data: {task_id: id},
      beforeSend: function(){
        $("#task_loader").show();
      },
      success: function(data)
      {
      },
      error: function(data) {
        $("#task_loader").hide();
      },
      complete: function(data) {
        $("#followform_content").html(data.responseText);
        $("#task_loader").hide();
        $('#clicked_button_ref').val(check_active_tab());
      }
    });
  }


  function task_outcome(id){
    $('#create_task').prop('checked', true);
    $("#create_task_comp").val(1)
    $("#task_note").hide();
    $(".ff").attr('checked',false);
    $(".ff").attr('required',true);
    $("#task_id").val(id);
    $("#taskNoteModal").modal('show');
  }
  function getTaskType(task_id, task_type_name){
    $(".task-type-list").html("<img src='/assets/ajax-loader2.gif'/>");
    $.ajax({
      type: "GET",
      url: "/get_task_type",
      data: {task_id: task_id,task_type_name: task_type_name},
      success: function(data)
      {
        $(".task-type-list").html(data);
      },
      error: function(data) {
        alert("Got an Error.!!!");
      }
    });
  }