:css
  .right-container{
    padding-top: 75px;
  }
.dashboard-page
  .col-md-9
    .nqwl-percentage.con-box1
      .col-md-3
        .box
          %ul
            %li
              - new_chart = @new_deals != 0 && @total_counts != 0
              %span.chart.new-chart.load-percent{"data-percent" => "#{new_chart ? (@new_deals.to_f / @total_counts.to_f * 100.0).round : 0}"}
                %span.percent
                  = new_chart ? (@new_deals.to_f / @total_counts.to_f * 100.0).round : 0
              %h5
                New
                %span
                  = @new_deals
      .col-md-3
        .box
          %ul
            %li
              - qualify_chart = @qualified_deals != 0 && @total_counts != 0
              %span.chart.qualified-chart.load-percent{"data-percent" => "#{qualify_chart ? (@qualified_deals.to_f / @total_counts.to_f * 100.0).round : 0}"}
                %span.percent
                  = qualify_chart ? (@qualified_deals.to_f / @total_counts.to_f * 100.0).round : 0
              %h5
                Qualified
                %span
                  = @qualified_deals
      .col-md-3
        .box
          %ul
            %li
              - won_chart = @won_deals != 0 && @total_counts != 0
              %span.chart.won-chart.load-percent{"data-percent" => "#{won_chart ? (@won_deals.to_f / @total_counts.to_f * 100.0).round : 0}"}
                %span.percent
                  = won_chart ? (@won_deals.to_f / @total_counts.to_f * 100.0).round : 0
              %h5
                Won
                %span
                  = @won_deals
      .col-md-3
        .box
          %ul
            %li
              - lost_chart = @lost_deals != 0 && @total_counts != 0
              %span.chart.lost-chart.load-percent{"data-percent" => "#{lost_chart ? (@lost_deals.to_f / @total_counts.to_f * 100.0).round : 0}"}
                %span.percent
                  = lost_chart ? (@lost_deals.to_f / @total_counts.to_f * 100.0).round : 0
              %h5
                Lost
                %span
                  = @lost_deals
      .clearfix
    .task-list
      %h6
        %span.cwkp-sprite.tsk-list
        Task list
      .tasklist-btn
        %span.today
          %a{href: "javascript:void(0)", onclick: "fetch_tasks('today')"}
            %i.fa.fa-check-circle-o{"aria-hidden" => "true"}
            Today
        %span.overdue
          %a{href: "javascript:void(0)", onclick: "fetch_tasks('overdue')"}
            %i.fa.fa-exclamation-triangle{"aria-hidden" => "true"}
            Overdue
        %span.upcoming
          %a{href: "javascript:void(0)", onclick: "fetch_tasks('upcoming')"}
            %i.fa.fa-paw{"aria-hidden" => "true"}
            Upcoming
        %a.learn-more{:href => tasks_path} View Task Listing
      #fetch_tasks_list.box
        = render :partial => "tasks_list"
        
    .usage_summary
      .col-md-8.usage
        .box
          %h6 
            %span.cwkp-sprite.usage
            Usage
          .frame
            .glintcontent
              %svg{:id=>"svg"}
      .col-md-4.summary
        %h6 
          %span.cwkp-sprite.last-lead-summary
          Summary-last 3 months
        .box
          %ul
            %li
              %span.circle.cwkp-sprite.total-call
              %strong
                Total calls
                %span                  
                  = @task_call_count
              %div
                %small
                %a{:href => "#"}
                  Read
                  %i.fa.fa-caret-right{"aria-hidden" => "true"}
                .clearfix
        .box
          %ul
            %li
              %span.circle.cwkp-sprite.total-appoirtment
              %strong
                Total Appointments
                %span
                  - task_apointment_count = Task.last_three_months.task_list(current_user,nil,nil,nil,'Appointment').count
                  = task_apointment_count
              %div
                %small
                %a{:href => "#"}
                  Read
                  %i.fa.fa-caret-right{"aria-hidden" => "true"}
                .clearfix
        .box
          %ul
            %li
              %span.circle.cwkp-sprite.total-ltn
              %strong
                Total Leads to nurture
                %span
                  = new_deals_three_month
              %div
                %small
                %a{:href => "#"}
                  Read
                  %i.fa.fa-caret-right{"aria-hidden" => "true"}
                .clearfix
        .box
          %ul
            %li
              %span.circle.cwkp-sprite.total-llc
              %strong
                Last lead close
                %span
                  - if @last_deal.present?
                    = @last_close_deal_date
                  - else
                    2
              %div
                %small
                  - if @last_deal.present?
                    = @last_close_user
                  - else
                    BY:
                %a{:href => "#"}
                  Read
                  %i.fa.fa-caret-right{"aria-hidden" => "true"}
                .clearfix
  .col-md-3{:style=>"padding-left:0"}
    .total-profile-no
      %div
        %span.right-won-chart.load-percent{"data-percent" => "#{@won_deals}"}
        %span.percent.total_percent
          = @won_deals
      %div
        %span.count-bx
          = @total_leads
          %small
            Total
        %span.count-bx
          = @won_deals
          %small.won
            Won
        .cb
    .upcoming-task-sechedule
      %strong
        = "Upcomig task(" + @upcoming_tasks.count.to_s + ")"
      %ul
        - @upcoming_tasks.each do |task|
          %li
            %span.date
              = task.due_date.strftime("%b")
              %br
              = task.due_date.strftime("%d")
            %span.user-lead-name
              = truncate(task.title, :length => 25, :ommission => "...")
      %div.text-right
        - if @upcoming_tasks.count == 5
          = link_to "View More", "/tasks?type=upcoming"
    .upcoming-task-sechedule
      %strong
        Recent leads
      %ul
        - four_weeks_leads = Deal.within_four_weeks.limit(5)
        - if four_weeks_leads.present?
          - four_weeks_leads.each do |lead|
            %li
              %span.date
                = lead.created_at.strftime("%b")
                %br
                = lead.created_at.strftime("%d")
              %span.user-lead-name
                = truncate(lead.title, :length => 25, :ommission => "...")
          %div.text-right
            - if four_weeks_leads.count == 5
              = link_to "View More", "/leads"
        - else
          %li
            %p
              No leads found
  .clearfix
-if user_signed_in?
  #taskModal.modal.fade.cstm-material-modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        #edit_task_form_content
          - @task=Task.new
          =render :partial => "tasks/task_form", :object => @task, :title=> :""

:javascript
  $(function() {    
    /* New deals chat */
    $('.new-chart').easyPieChart({
      easing: 'easeOutBounce',
      onStep: function(from, to, percent) {
        $(this.el).find('.percent').text("#{@new_deals != 0 && @total_counts != 0 ? (@new_deals.to_f / @total_counts.to_f * 100.0).round : 0}");
      },
      lineWidth: 5,
      barColor: "#5DCEF1"
    });
    var chart = window.chart = $('.new-chart').data('easyPieChart');
    $('.js_update').on('click', function() {
      chart.update(Math.random()*200-100);
    });

    /* Qualified deals chat */
    $('.qualified-chart').easyPieChart({
      easing: 'easeOutBounce',
      onStep: function(from, to, percent) {
        $(this.el).find('.percent').text("#{@qualified_deals != 0 && @total_counts != 0 ? (@qualified_deals.to_f / @total_counts.to_f * 100.0).round : 0}");
      },
      lineWidth: 5,
      barColor: "#CBDFB3"
    });
    var chart = window.chart = $('.qualified-chart').data('easyPieChart');
    $('.js_update').on('click', function() {
      chart.update(Math.random()*200-100);
    });

    /* Won deals chat */
    $('.won-chart').easyPieChart({
      easing: 'easeOutBounce',
      onStep: function(from, to, percent) {
        $(this.el).find('.percent').text("#{@won_deals != 0 && @total_counts != 0 ? (@won_deals.to_f / @total_counts.to_f * 100.0).round : 0}");
      },
      lineWidth: 5,
      barColor: "#FBAA2C"
    });
    var chart = window.chart = $('.won-chart').data('easyPieChart');
    $('.js_update').on('click', function() {
      chart.update(Math.random()*200-100);
    });

    /* Lost deals chat */
    $('.lost-chart').easyPieChart({
      easing: 'easeOutBounce',
      onStep: function(from, to, percent) {
        $(this.el).find('.percent').text("#{@lost_deals != 0 && @total_counts != 0 ? (@lost_deals.to_f / @total_counts.to_f * 100.0).round : 0}");
      },
      lineWidth: 5,
      barColor: "#FD8C8F"
    });
    var chart = window.chart = $('.lost-chart').data('easyPieChart');
    $('.js_update').on('click', function() {
      chart.update(Math.random()*200-100);
    });

    /* Right side total won deals chat */
    $('.right-won-chart').easyPieChart({
      easing: 'easeOutBounce',
      onStep: function(from, to, percent) {
        $(this.el).find('.percent').text("#{@won_deals}");
      },
      lineWidth: 5,
      barColor: "#718AF9",
      trackColor: "#DCDCDC"
    });
    var chart = window.chart = $('.right-won-chart').data('easyPieChart');
    $('.js_update').on('click', function() {
      chart.update(Math.random()*200-100);
    });
  });

  function fetch_tasks(type){
    $.ajax({
      type: "GET",
      url: "/fetch_tasks",
      dataType: 'json',
      data: {task_type: type},
      async: true,
      beforeSend: function(){
        $("#task_loader").show();
      },
      success: function(data){},
      error: function(data) {
        $("#task_loader").hide();
      },
      complete: function(data) {
        $("#fetch_tasks_list").html(data.responseText);        
      }
    });
  }

  function edit_popup(id){
      $.ajax({
        type: "POST",
        url: "/edit_task",
        dataType: 'json',
        async: true,
        data: {task_id: id},
        beforeSend: function(){
          $("#task_loader").show();
        },
        success: function(data)
        {
        },
        error: function(data) {
          $("#task_loader").hide();
        },
        complete: function(data) {
          $("#edit_task_form_content").html(data.responseText);
          $("#task_loader").hide();
        }
      });
    }

  function delete_task(id){
    if(confirm("Do you want to delete the task?")){
        $.ajax({
        type: "DELETE",
        url: "/tasks/"+id,
        dataType: 'json',
        async: false,
        beforeSend: function(){
          $("#task_loader").show();
        },
        success: function(data)
        {
        },
        error: function(data) {
          $("#task_loader").hide();
        },
        complete: function(data) {
          $("#task_loader").hide();
          $(document).trigger("add-alerts", [{'message': "Task has been deleted successfully." ,'priority': 'success'}]);
          $("#task_"+id).remove();
        }
      });
    }
  }

  
  /***********************************************************/
  var programmingSkills = [
    {
        value: #{@cmpl_tasks_percentage==0 ? 1 : @cmpl_tasks_percentage},
        label: 'Tasks Completed',
        color: '#3399FF'
    },
    {
        value: #{@call_percentage==0 ? 1 : @call_percentage},
        label: 'Call Completed',
        color: '#FFC575'
    },
    {
        value: #{@total_leads_percentage==0 ? 1 : @total_leads_percentage},
        label: 'Total Leads',
        color: '#99CC00'
    },
    {
        value: #{@won_percentage==0 ? 1 : @won_percentage},
        label: 'Won Leads',
        color: '#FF3300'
    },
    {
        value: #{@lostdeal_percentage==0 ? 1 : @lostdeal_percentage},
        label: 'Lost Leads',
        color: '#944DDB'
    },
  ];

  var donutSize = 300;
  var donut = $('#svg').donut({
      donutSize: donutSize,
      center: {
          x: donutSize / 2,
          y: donutSize / 2
      },
      radius: donutSize * 0.3 / 1,
      data: programmingSkills
  });

  donut.startShowAnimation(function(){
    $('button').attr('disabled', false);
  });

  function load_summary_section(){
        $.ajax({
          type: "POST",
          url: "/summary",
          dataType: 'json',
          async: true,
          beforeSend: function(){
            //$("#task_loader").show();
          },
          success: function(data)
          {
          },
          error: function(data) {
            //$("#task_loader").hide();
          },
          complete: function(data) {
            $(".summary_data").html(data.responseText);
          }
        });

    }

    function load_header_count(){

        //header_count
        if($("#show_header_count").val() == 1){
         $.ajax({
          type: "POST",
          url: "/load_header_count_section",
          async: true,
          beforeSend: function(){
            //$("#task_loader").show();
          },
          success: function(data)
          {
          },
          error: function(data) {
            //$("#task_loader").hide();
          },
          complete: function(data) {
            $(".header_user_data").html(data.responseText);
          }
        });
      }
      //end header count
  }

  function load_dashboard_task_widget(){    
    $.ajax({
      type: "POST",
      url: "/task_widget_page",
      dataType: 'json',
      async: true,
      beforeSend: function(){
        //$("#task_loader").show();
      },
      success: function(data)
      {
      },
      error: function(data) {
        //$("#task_loader").hide();
      },
      complete: function(data) {
        $("#task_header").html(data.responseText);
      }
    });
  }

  function get_activity_data()
  {
    //Ajax3.call();
  }
