.row{style: "background:#eff0f1"}
  .col-md-12
    #alert-msg.alert.fade.in.alert-danger{style: "display:none;"}
      %button.close{onclick: "$('#alert-msg').hide();$('#task_loader').hide();"} x
      #msg_div
    #filter_msgdeals.col-md-offset-0{style: "text-align: center;display:none"}
    =hidden_field_tag "individual_filter_present", @filter_msg.present?
    - if @filter_msg.present?
      #individual_filter_msg.col-md-offset-0{style: "text-align: center"}
        =@filter_msg.html_safe
        =link_to "RESET", "/leads", class: "btn btn-xs btn-warning"
    %ul.tag_filter{style: "margin-left:0px;text-align:center;display:none;"}
      %li#show_filter_dealmsg

      %li.created_by_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#created_by_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('created_by','cre_by_c');"} x
      %li.assigned_to_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#assigned_to_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('assigned_to','asg_by_c');"} x
      %li.location_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#location_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('location','country_c');"} x
      %li.priority_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#priority_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('priority','priority_c');"} x
      %li.next_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#next_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('next','next_c');"} x
      %li.date_range_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#from_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('date_range','any_time');"} x

      %li.last_touch_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#last_touch_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('last_touch','lst_tch');"} x

      %li.date_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#date_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('date','any_time');"} x

      %li.opportunity_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#opportunity_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('opportunity','opportunity');"} x
      %li.label_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#label_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('label_type','label_type');"} x

      %li.deal_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#deal_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('tag','tag');"} x

      %li.stage_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#stage_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('stage','stage_c');"} x

      %li.user_label_tag.com_cls{style: "display: none;"}
        .tag_dd
          %span#user_label_tag_txt
          %a.filter_tag_deal{href: "javascript:void(0);", onclick: "reset_deal_filter('user_label','user_label_c');"} x

      %li.reset_tag.com_cls
        %div
          %a{href: "javascript:void(0);", onclick: "reset_all_deal_filter();reset_filter_val();", class: "btn btn-xs btn-warning"} RESET



    .tablisting.task_tab
      .top-list-bar.white-sticky-header.fixed-in-app-header
        .lead-stage
          %ul
            - if params[ :type] == "inactive_deals"
              %li#inactive_deals.active
                %a{"data-toggle" => "tab", href: "#junk_deals",onclick: "get_deals('inactive_deals');" , id: "inactive_dealsDeals"}
                  %span.badge#badge_junk
                    = attention_deals_count
                  Deals need attention
            -else
              %li#all_tab.active
                %a{"data-toggle" => "tab", href: "#all_deals", style: "font-size: 12px;",onclick: "get_deals('all');", id: "allDeals"}
                  All
                  %span#badge_all
              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.incoming?)
                %li#incoming_tab
                  %a{"data-toggle" => "tab", href: "#incoming_deals",onclick: "get_deals('incoming');", id: "incomingDeals"}
                    = DealStatus.get_deal_name('1',@current_user.organization.id).name
                    %span#badge_incomming

              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.pipeline?)
                %li#qualify_tab
                  %a{"data-toggle" => "tab", href: "#qualify_deals",onclick: "get_deals('qualify');", id: "qualifyDeals"}
                    = DealStatus.get_deal_name('2',@current_user.organization.id).name
                    %span#badge_qualified

              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.won? && @current_user.is_admin?)
                %li#won_tab
                  %a{"data-toggle" => "tab", href: "#won_deals",onclick: "get_deals('won');", id:"wonDeals"}
                    = DealStatus.get_deal_name('4',@current_user.organization.id).name
                    %span#badge_won

              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.lost? && @current_user.is_admin?)
                %li#lost_tab
                  %a{"data-toggle" => "tab", href: "#lost_deals",onclick: "get_deals('lost');", id:"lostDeals"}
                    = DealStatus.get_deal_name('5',@current_user.organization.id).name
                    %span#badge_lost

              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.not_qualify?)
                %li#not_qualified_tab
                  %a{"data-toggle" => "tab", href: "#notqualify_deals",onclick: "get_deals('not_qualify');", id:"not_qualifyDeals"}
                    = DealStatus.get_deal_name('3',@current_user.organization.id).name
                    %span#badge_not_qualified

              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.junk?)
                %li#junk_tab
                  %a{"data-toggle" => "tab", href: "#junk_deals",onclick: "get_deals('junk');", id:"junkDeals"}
                    = DealStatus.get_deal_name('6',@current_user.organization.id).name
                    %span#badge_junk

              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.no_contact?)
                %li#no_contact_tab
                  %a{"data-toggle" => "tab", href: "#no_contact_deals",onclick: "get_deals('no_contact');", id:"no_contactDeals"}
                    = DealStatus.get_deal_name('7',@current_user.organization.id).name
                    %span#badge_no_contact
              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.follow_up_required?)
                %li#follow_up_required_tab
                  %a{"data-toggle" => "tab", href: "#follow_up_required_deals",onclick: "get_deals('follow_up_required');", id:"follow_up_requiredDeals"}
                    = DealStatus.get_deal_name('8',@current_user.organization.id).name
                    %span#badge_follow_up_required
              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.follow_up?)
                %li#follow_up_tab
                  %a{"data-toggle" => "tab", href: "#follow_up_deals",onclick: "get_deals('follow_up');", id:"follow_upDeals"}
                    = DealStatus.get_deal_name('9',@current_user.organization.id).name
                    %span#badge_follow_up
              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.quoted?)
                %li#quoted_tab
                  %a{"data-toggle" => "tab", href: "#quoted_deals",onclick: "get_deals('quoted');", id:"follow_upDeals"}
                    = DealStatus.get_deal_name('10',@current_user.organization.id).name
                    %span#badge_quoted
              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.meeting_scheduled?)
                %li#meeting_scheduled_tab
                  %a{"data-toggle" => "tab", href: "#meeting_scheduled_deals",onclick: "get_deals('meeting_scheduled');", id:"meeting_scheduledDeals"}
                    = DealStatus.get_deal_name('11',@current_user.organization.id).name
                    %span#badge_meeting_scheduled
              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.forecasted?)
                %li#forecasted_tab
                  %a{"data-toggle" => "tab", href: "#forecasted_deals",onclick: "get_deals('forecasted');", id:"forecastedDeals"}
                    = DealStatus.get_deal_name('12',@current_user.organization.id).name
                    %span#badge_forecasted
              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.waiting_for_project_requirement?)
                %li#waiting_for_project_requirement_tab
                  %a{"data-toggle" => "tab", href: "#waiting_for_project_requirement_deals",onclick: "get_deals('waiting_for_project_requirement');", id:"waiting_for_project_requirementDeals",:style=>"width:160px;overflow-x:hidden;text-overflow:ellipsis;white-space:nowrap;"}
                    = DealStatus.get_deal_name('13',@current_user.organization.id).name
                    %span#badge_waiting_for_project_requirement
              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.proposal?)
                %li#proposal_tab
                  %a{"data-toggle" => "tab", href: "#proposal_deals",onclick: "get_deals('proposal');", id:"proposalDeals"}
                    = DealStatus.get_deal_name('14',@current_user.organization.id).name
                    %span#badge_proposal
              -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.estimate?)
                %li#estimate_tab
                  %a{"data-toggle" => "tab", href: "#estimate_deals",onclick: "get_deals('estimate');", id:"estimateDeals"}
                    = DealStatus.get_deal_name('15',@current_user.organization.id).name
                    %span#badge_estimate
              %li
                %a{"data-toggle" => "modal", href: "#dealsettingModal", rel: "popup", title: "Tab Settings"}
                  %div.add-stage +
                  .cb
        .navbar-right.mt10
          %span#hide_main
            .btn-group
              .dropdown-toggle.f_menu{"data-toggle" => "dropdown", type: "button",onclick: "reser_all_submenu();", title: "Filter", rel: "tooltip"}
                %span.cwkp-sprite.filter
              %ul.dropdown-menu.main_menu{role: "menu", style: "top: 26px"}
                %li.arrow_top{style: "left:80%;z-index:99"}
                %li.dropdown-submenu{:style => "position: relative;"}
                  %a{href: "javascript:void(0)","data-toggle"=>"dropdown",onclick: "display_hide_submenu('created');"} Created By
                  #cr{style: "display: none;position: absolute;left: initial;top: -11px;display: block;right: 148px;"}
                    .arrow_left.lead_arrow.cre_arw{style: "display:none;"}
                    %ul#cre_by_app.dropdown-menu{style: "height:200px;overflow-y:scroll;overflow-x:hidden;display:inline-block;"}
                      - all_org_users.each do |cre_by|
                        %li
                          %a{href: "#",onclick: "chk_radio_button(#{cre_by.id},'created')",class: "filterSelectDropdow"}
                            %input{id:"cre_by_#{cre_by.id}", class: "cre_by_c",type: "checkbox", value: "#{cre_by.id}",c_name: "#{cre_by.full_name}",style: "margin-left:-10px;cursor:pointer;",name: "created_by"}
                              =cre_by.full_name
                        %li.divider

                %li.divider

                %li.dropdown-submenu{:style => "position: relative;"}
                  %a{href: "javascript:void(0)","data-toggle"=>"dropdown",onclick: "display_hide_submenu('assigned');"} Assigned To
                  #asg{style: "display: none;position: absolute;left: initial;top: -11px;display: block;right: 148px;"}
                    .arrow_left.lead_arrow.asg_arw{style: "display:none;"}
                    %ul.dropdown-menu{style: "height:200px;overflow-y:scroll;overflow-x:hidden;display:inline-block;position:relative;"}
                      - select_all_org_users.each do |assg_by|
                        %li
                          - assg_by.is_active == false ? sty = "background-color:#f0f0f0;" : sty = ""
                          %a{href: "javascript:void(0)",onclick: "chk_radio_button(#{assg_by.id},'assigned')",class: "filterSelectDropdow", style:sty}
                            %input{id:"assg_by_#{assg_by.id}", class: "asg_by_c",type: "checkbox", value: "#{assg_by.id}",a_name: "#{assg_by.full_name}",style: "margin-left:-10px;cursor:pointer;",name: "assg_by"}
                              =assg_by.full_name
                        %li.divider
                %li.divider

                %li.dropdown-submenu{:style => "position: relative;"}
                  %a{href: "javascript:void(0)","data-toggle"=>"dropdown",onclick: "display_hide_submenu('location');"} Location
                  #lo{style: "display: none;position: absolute;left: initial;top: -11px;display: block;right: 148px;"}
                    .arrow_left.lead_arrow.loc_arw{style: "display:none;"}
                    %ul.dropdown-menu.col-md-3{style: "height:200px;overflow-y:scroll;overflow-x:hidden;display:inline-block;"}
                      - City.where(state:'CA').uniq_by { |item| item.name }.each do |cn|
                        %li
                          %a{href: "javascript:void(0)",onclick: "chk_radio_button(#{cn.id},'loc')",class: "filterSelectDropdow"}
                            %input{id:"country_#{cn.id}", class: "country_c",type: "checkbox", value: "#{cn.id}",coun_name: "#{cn.name}",style: "margin-left:-10px;cursor:pointer;",name: "coun"}
                            =cn.name
                        %li.divider
                %li.divider
                %li.dropdown-submenu{onclick: "display_hide_submenu('priority');", :style=>"position: relative;"}
                  %a{href: "javascript:void(0)","data-toggle"=>"dropdown"} Priority
                  #pr{style: "display: none;position: absolute;left: initial;top: -11px;display: block;right: 148px;"}
                    .arrow_left.lead_arrow.pri_arw{style: "display:none;"}
                    %ul.dropdown-menu{style: "display:inline-block;position:relative;"}
                      -@current_user.organization.priority_types.each do |pri|
                        %li
                          %a{href: "javascript:void(0)",onclick: "chk_radio_button(#{pri.id},'priority')",class: "filterSelectDropdow"}
                            %input{id:"priority_#{pri.id}", class: "priority_c",type: "checkbox", value: "#{pri.id}",prio_name: "#{pri.name}",style: "margin-left:-10px;cursor:pointer;",name: "prio"}
                            =pri.name
                        %li.divider
                %li.divider
                %li.dropdown-submenu{onclick: "display_hide_submenu('next');", :style => "position: relative;"}
                  %a{href: "javascript:void(0)","data-toggle"=>"dropdown"} Next Action
                  #nex{style: "display: none;position: absolute;left: initial;top: -11px;display: block;right: 148px;"}
                    .arrow_left.lead_arrow.next_arw{style: "display:none;"}
                    %ul.dropdown-menu{style: "display:inline-block;position:relative;"}
                      -@current_user.organization.task_types.each do |ty|
                        %li
                          %a{href: "javascript:void(0)",onclick: "chk_radio_button(#{ty.id},'next')",class: "filterSelectDropdow"}
                            %input{id:"next_#{ty.id}", class: "next_c",type: "checkbox", value: "#{ty.id}",next_name: "#{ty.name}",style: "margin-left:-10px;cursor:pointer;",name: "next"}
                            =ty.name
                        %li.divider
                %li.divider
                %li
                  %a{name: "li_opportunity" ,class: "filterSelectDropdow", href: "javascript:void(0)"} Opportunities
                %li.divider
                %li.dropdown-submenu{onclick: "display_hide_submenu('anytime');", :style=>"position: relative;"}
                  %a{href: "javascript:void(0)","data-toggle"=>"dropdown"} Anytime
                  #any{style: "display: none;position: absolute;left: initial;top: -11px;display: block;right: 148px;"}
                    .arrow_left.lead_arrow.any_arw{style: "display:none;"}
                    %ul.dropdown-menu{style: "display:inline-block;position:relative;"}
                      %li
                        %a{href: "javascript:void(0)",onclick: "chk_radio_button('past_week','any')",class: "filterSelectDropdow"}
                          %input{id:"past_week", class: "any_time",type: "radio", value: "Past Week",style: "margin-left:-10px;cursor:pointer;",name: "anytime"}
                          Past Week
                      %li.divider
                      %li
                        %a{href: "javascript:void(0)",onclick: "chk_radio_button('past_two_weeks','any')",class: "filterSelectDropdow"}
                          %input{id:"past_two_weeks", class: "any_time",type: "radio", value: "Past Two Weeks",style: "margin-left:-10px;cursor:pointer;",name: "anytime"}
                          Past Two Weeks
                      %li.divider
                      %li
                        %a{href: "javascript:void(0)",onclick: "chk_radio_button('past_three_weeks','any')",class: "filterSelectDropdow"}
                          %input{id:"past_three_weeks", class: "any_time",type: "radio", value: "Past Three Weeks",style: "margin-left:-10px;cursor:pointer;",name: "anytime"}
                          Past Three Weeks
                      %li.divider
                      %li
                        %a{href: "javascript:void(0)",onclick: "chk_radio_button('past_month','any')",class: "filterSelectDropdow"}
                          %input{id:"past_month", class: "any_time",type: "radio", value: "Past Month",style: "margin-left:-10px;cursor:pointer;",name: "anytime"}
                          Past Month
                      %li.divider
                      %li
                        %a{href: "javascript:void(0)",onclick: "chk_radio_button('past_year','any')",class: "filterSelectDropdow"}
                          %input{id:"past_year", class: "any_time",type: "radio", value: "Past Year",style: "margin-left:-10px;cursor:pointer;",name: "anytime"}
                          Past Year
                      %li.divider
                      %li
                        %a{href: "javascript:void(0)",onclick: "chk_radio_button('cu_date','any')",class: "filterSelectDropdow"}
                          %input{id:"cu_date", class: "any_time",type: "radio", value: "Custom Date",style: "margin-left:-10px;cursor:pointer;",name: "anytime"}
                          Custom Date
                      %li#custom_date{style: "display:none;margin:4px;"}
                        =text_field_tag "deal_from","",value: "",class: "form-control typeahead",placeholder: "From"
                        .cb10
                        =text_field_tag "deal_to","",value: "",class: "form-control typeahead",placeholder: "To"
                        .cb10
                        %button.btn.btn-primary{class: "filterSelectDropdow",type: "button",rel: "tooltip", title: "Filter" }
                          Search

                %li.divider
                %li.dropdown-submenu{onclick: "display_hide_submenu('last');", :style=>"position: relative;"}
                  %a{href: "javascript:void(0)","data-toggle"=>"dropdown"} Last Touch
                  #lat{style: "display: none;position: absolute;left: initial;top: -11px;display: block;right: 148px;"}
                    .arrow_left.lead_arrow.lst_arw{style: "display:none;"}
                    %ul.dropdown-menu{style: "display:inline-block;position:relative;"}
                      %li
                        %a{href: "javascript:void(0)",onclick: "chk_radio_button('last_week','last')",class: "filterSelectDropdow"}
                          %input{id:"last_week", class: "lst_tch",type: "radio", value: "Last Week",style: "margin-left:-10px;cursor:pointer;",name: "last_touch"}
                          Last Week
                      %li.divider
                      %li
                        %a{href: "javascript:void(0)",onclick: "chk_radio_button('last_two_weeks','last')",class: "filterSelectDropdow"}
                          %input{id:"last_two_weeks", class: "lst_tch",type: "radio", value: "Last Two Weeks",style: "margin-left:-10px;cursor:pointer;",name: "last_touch"}
                          Last Two Weeks
                      %li.divider
                      %li
                        %a{href: "javascript:void(0)",onclick: "chk_radio_button('last_three_weeks','last')",class: "filterSelectDropdow"}
                          %input{id:"last_three_weeks", class: "lst_tch",type: "radio", value: "Last Three Weeks",style: "margin-left:-10px;cursor:pointer;",name: "last_touch"}
                          Last Three Weeks
                      %li.divider
                      %li
                        %a{href: "javascript:void(0)",onclick: "chk_radio_button('last_month','last')",class: "filterSelectDropdow"}
                          %input{id:"last_month", class: "lst_tch",type: "radio", value: "Last Month",style: "margin-left:-10px;cursor:pointer;",name: "last_touch"}
                          Last Month
                      %li.divider
                      %li
                        %a{href: "javascript:void(0)",onclick: "chk_radio_button('last_three_months','last')",class: "filterSelectDropdow"}
                          %input{id:"last_three_months", class: "lst_tch",type: "radio", value: "Last Three Months",style: "margin-left:-10px;cursor:pointer;",name: "last_touch"}
                          Last Three Months
                %li.divider
                %li.dropdown-submenu{onclick: "display_hide_submenu('stage');",:id=>"li_stage", :style=>"position: relative;"}
                  %a{href: "javascript:void(0)","data-toggle"=>"dropdown"} Stages
                  #stg{style: "display: none;position: absolute;left: initial;top: -11px;display: block;right: 148px;"}
                    .arrow_left.lead_arrow.stg_arw
                    %ul.dropdown-menu{style: "display:inline-block;position:relative;"}
                      -@current_user.organization.deal_statuses.each do |status|
                        %li
                          %a{href: "javascript:void(0)",onclick: "chk_radio_button(#{status.id},'stage')",class: "filterSelectDropdow"}
                            %input{id:"stage_#{status.id}", class: "stage_c",type: "checkbox", value: "#{status.id}",stage_name: "#{status.name}",style: "margin-left:-10px;cursor:pointer;",name: "stage"}
                            =status.name
                        %li.divider
                %li.divider
                %li.dropdown-submenu{onclick: "display_hide_submenu('user_label');",:id=>"li_user_label", :style=>"position: relative;"}
                  %a{href: "javascript:void(0)","data-toggle"=>"dropdown"} User Label
                  #lbl{style: "display: none;position: absolute;left: initial;top: -11px;display: block;right: 148px;"}
                    .arrow_left.lead_arrow.lbl_arw
                    %ul.dropdown-menu{style: "display:inline-block;position:relative;"}
                      - UserLabel.all.each do |label|
                        %li
                          %a{href: "javascript:void(0)",onclick: "chk_radio_button(#{label.id},'user_label')",class: "filterSelectDropdow"}
                            %input{id:"user_label_#{label.id}", class: "user_label_c",type: "checkbox", value: "#{label.id}",user_label_name: "#{label.name}",style: "margin-left:-10px;cursor:pointer;",name: "userLabel"}
                            =label.name
                        %li.divider

          / %a#additional_links{"data-toggle" => "modal", href: "#dealModal", onclick: "$('#new_deal')[0].reset();$('.error').html('');", style: "text-decoration:none;"}
          /   %span.p5{type: "button",rel: "tooltip", title: "Add a Lead" }
          /     %span.cwkp-sprite.add-a-lead
          %a#additional_links{"data-toggle" => "modal", href: "#BulkLeadModal", rel: "popup", title: "Bulk lead upload"}
            %span.cwkp-sprite.bulk-lead-upload{type: "button",rel: "tooltip", title: "Bulk Lead Upload" }
          %a#leads_export_btn{"data-toggle" => "modal", href: leads_path(format: "csv"), style: "text-decoration:none;"}
            %span.p5{type: "button",rel: "tooltip", title: "Export to CSV" }
              %span.cwkp-sprite.export-to-csv
          %a{href: "javascript:void(0)", onclick: "show_kanban_view();highlight_kanban()", title: "Show Kanban view"}
            .link_to_kanban_view.fr.cwkp-sprite
        .cb















      #filter_options.filter_box{style: "display:none"}
        .col-md-12.deal_filter
          .row
            .col-md-2
              =select_tag "filter_created_by", options_from_collection_for_select(all_org_users, "id", "full_name"), :class=>"col-md-12 form-control filterSelectDropdow", :prompt => "- Created by -"
            .col-md-2
              =select_tag "filter_assigned_to", options_from_collection_for_select(all_org_users, "id", "full_name"), :class=>"col-md-12 form-control filterSelectDropdow", :prompt => "- Assigned to -"
            .col-md-2
              =select_tag "filter_location", options_from_collection_for_select(Country.all, "id", "name"),:class=>"col-md-12 form-control filterSelectDropdow", :prompt => "- Location -"
            .col-md-2
              =select_tag "filter_priority", options_from_collection_for_select(@current_user.organization.priority_types, "id", "name"),:class=>"col-md-12 form-control filterSelectDropdow", :prompt => "- Priority -"
            .col-md-2
              = select_tag "filter_date", options_for_select(["Past Week","Past Two Weeks","Past Three Weeks", "Past Month", "Past Year"]),:class=>"col-md-12 form-control filterSelectDropdow", :prompt => "- Any time -"
            .col-md-2
              = select_tag "filter_last_touch", options_for_select(["Last Week","Last Two Weeks","Last Three Weeks","Last Month","Last Three Months"]),:class=>"col-md-12 form-control filterSelectDropdow", :prompt => "- Last touch -"
            .col-md-2
              = select_tag "filter_stage", options_from_collection_for_select(current_user.organization.deal_statuses,"original_id", "name"),:class=>"col-md-12 form-control filterSelectDropdow", :prompt => "- Any Stage -"

      .tab-content
        =hidden_field_tag "all_div_val","1"
        =hidden_field_tag "incoming_div_val","0"
        =hidden_field_tag "un_assigned_div_val","0"
        =hidden_field_tag "working_div_val","0"
        =hidden_field_tag "qualify_div_val","0"
        =hidden_field_tag "won_div_val","0"
        =hidden_field_tag "lost_div_val","0"
        =hidden_field_tag "not_qualify_div_val","0"
        =hidden_field_tag "junk_div_val","0"
        =hidden_field_tag "no_contact_div_val","0"
        =hidden_field_tag "follow_up_required_div_val","0"
        =hidden_field_tag "follow_up_div_val","0"
        =hidden_field_tag "quoted_div_val","0"
        =hidden_field_tag "meeting_scheduled_div_val","0"
        =hidden_field_tag "forecasted_div_val","0"
        =hidden_field_tag "waiting_for_project_requirement_div_val","0"
        =hidden_field_tag "proposal_div_val","0"
        =hidden_field_tag "estimate_div_val","0"
        =hidden_field_tag "filter_get_val","0"
        =hidden_field_tag 'hdndeals', 'mydeals'
        =hidden_field_tag 'opp'
        - if params[:type] == "inactive_deals"
          #inactive_deals_content.w-box.tab-pane.in.active
        - else
          #all_deals.w-box.tab-pane.in.active

          #working_deals.w-box.tab-pane.in
          #un_assigned_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.incoming?)
            #incoming_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.pipeline?)
            #qualify_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.won?)
            #won_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.lost?)
            #lost_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.not_qualify?)
            #notqualify_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.junk?)
            #junk_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.no_contact?)
            #no_contact_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.follow_up_required?)
            #follow_up_required_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.follow_up?)
            #follow_up_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.quoted?)
            #quoted_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.meeting_scheduled?)
            #meeting_scheduled_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.forecasted?)
            #forecasted_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.waiting_for_project_requirement?)
            #waiting_for_project_requirement_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.proposal?)
            #proposal_deals.w-box.tab-pane.in
          -if(!@current_user.deal_setting.nil? && @current_user.deal_setting.estimate?)
            #estimate_deals.w-box.tab-pane.in
      .cb

=hidden_field_tag "deal_quarter"
=hidden_field_tag "deal_year"
= render :partial => "tab_settings"
= render :partial => "shared/label"
= render :partial => "shared/move_deal"
= render :partial => "deals/change_assignee"
= render :partial => "deals/confirm_deal_delete"
#quickeditModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "quickeditModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", type: "button", "data-dismiss" => "modal"} ×
        %h4.modal-title Edit Lead
      .modal-body
        #deal_content{style: "margin-left: 12px;"}


:javascript
  function highlight_kanban(){
    $("#leads").removeClass("activ_menu");
    $("#leads_kanban_view").addClass("activ_menu");
    $("#leads_kanban_view .kanban_view").css({"background-position":"-115px -169px","color":"#000"});
  }
