/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min
 *= require bootstrap-datetimepicker
 *= require bootstrap-editable
 *= require bootstrap-wysihtml5
 *= require easyui
 *= require fullcalendar
 *= require jquery.listnav-2.1
 *= require jquery.tagsinput
 *= require wakeupsales
 *= require jquery.minicolors
 *= require jquery.powertip
 *= require datepicker
 *= require jquery.wysiwyg
 *= require bootstrap-duallistbox
  *= require new-style

 *= require_self
 */
 .clearfix{clear:both;}
  .twitter-typeahead {
    width: 100%;
  }
  .twitter-typeahead .tt-query,
  .twitter-typeahead .tt-hint {
    margin-bottom: 0;
  }
  .input-group>.twitter-typeahead:first-child>.tt-query.form-control {
      border-radius: 6px 0 0 6px !important;
  }
  .input-group>.twitter-typeahead:first-child>.tt-query.form-control.input-small {
      border-radius: 4px 0 0 4px !important;
  }
  .tt-hint {
    display: block;
    width: 100%;
    height: 30px;
    padding: 14px 14px;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .tt-dropdown-menu {
    min-width: 160px;
      width: 100%;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    color:#303030;
  }
  .tt-suggestion {
    display: block;
    padding: 3px 20px;
  }
  .tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
  }
  .tt-suggestion.tt-is-under-cursor a {
    color: #fff;
  }
  .tt-suggestion p {
    margin: 0;
  }

 .arrow{
    margin-top: 7px;
 }


.kanban_view{
  width: 100%; 
  overflow-x:auto; 
  overflow-y: hidden;
  white-space:nowrap;
  position: relative;
}

.kanban_view .kanban_title { height: 30px; }
.csm-drop-menu{color: #3e6ba1;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;}
.csm-drop-menu .edit_list_content{left:initial;right: 0;}


.status_header{
  padding: 10px 15px;
  position: relative;
  width: 100%;
  height: 35px;
  float: left; 
}

.no_lead_found{
  font-size:16px;
  text-align: center;
  padding-top: 35px;
  color: rgb(212, 104, 104);
  width: 100%;
}
.status_content{
  background:#fff;
  padding:0;
  overflow-y: auto;
  overflow-x:visible;
  /*min-height: 110px;*/
  min-height: 400px;
  max-height: 400px;
  width: 100%;
  padding: 0 3px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.kanban-inner-container{
  height:90px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  line-height: 38px;
  margin: 3px auto;
  display: table-cell;
  position: relative;
  vertical-align: top;
  float:left;
  box-shadow: 0 2px 2px #999;
  border-radius: 4px;
  max-width: 320px;
}
.status_middle_content{
    line-height: 16px;
    width: 70%;
    margin-top: 5px;
    word-wrap: break-word;
}
.kanban_view .status_container .status_header {
  color: #777;
  box-sizing: border-box;
  font-size: 13px;
  padding: 0 20px;
  background: #e0e5e9;
  font-weight: bold;
  padding-top: 10px;

}
#dealsettingKanbanModal .modal-body{
  max-height: 400px;
  overflow-y: auto;
}


/*Css for scroll*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    border-radius: 8px;
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.kanban_view .status_container:nth-child(1) .status_header-hdr-chev-bf{

  background: #ffffff;
}
 .kanban_view .status_container:last-child .status_header-hdr-chev-af{
  background: #ffffff;
}


.kanban_view .status_container:last-child { float: left; }
.kanban-inner-container a.title{font-weight: bold;display: block;
    white-space: normal;}
.kanban-inner-container .days{font-size: 10px}
.margin-top-20{
  margin-top: 20px;
}
.kanban-status{
  line-height: 18px;
  width: 285px;
}
#deal_country option {
    width: 235px;
}
.status_header-hdr-chev-af, .status_header-hdr-chev-bf {
    position: absolute;
    width: 30px;
    height: 100%;
    top: -3px;
    left: -48px;
    border-left: solid 19px transparent !important;
    border-bottom: solid 29px #fff;
    border-top: solid 29px #fff;
}
.clearfix{
  content: " ";
    display: table;
}
.status_header-hdr-chev-af {
    border-left-color: #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    right: -30px;
    left: auto;
}
.profileIcon {
    border: 2px solid #ccc;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    background-color: #fff;
    color: #428FD0;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    vertical-align: middle;

}
.middle-center{
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    line-height: 24px;
}

.contactIcon {
    border: 2px solid #428fd0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-color: #428fd0;
    color: #fff;
    font-size: 45px;
    text-align: center;
    position: relative;
}
.contact-middle-center{
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    line-height: 45px;
}
.contact-img-center{
  position: absolute;
  left: -3px;
  right: 0;
  top: -3px;
  bottom: 0;
  margin: auto;
  display: block;
  line-height: 45px;
  cursor: pointer;
}
.contact-img-center img{
  border-radius: 50px;
  left: 0;
  position: relative;
  width: 52px;
  height: 52px;
  border: 1px solid #ccc;
}
.small-contactIcon {
    border: 2px solid #428fd0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-color: #428fd0;
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.small-contact-middle-center{
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    line-height: 26px;
}
.contact-left{margin: 0;padding: 0; list-style-type: none;}
.contact-left li{display:inline-block;vertical-align: top;}
.contact-left li:first-child{width:15%;float:left;}
.contact-left li:nth-child(2){width:76%;float:right;}
.small-contact-left li{width:89%;float:right;}
.all-contacts{height: 300px; overflow-y: auto; width: 70%;}
.task-contacts{height: 300px; overflow-y: auto;}
.choose_crm span {
  margin-right: 10px;
}

.choose_crm span label{
  font-weight: normal;
}

.sprite-integrations-lg-javascript{
  background-image: url("../assets/icons.png");
  background-position: 0 -480px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 80px;
  width: 80px;
}

.sprite-integrations-lg-ruby{
  background-image: url("../assets/icons.png");
  background-position: 0 -400px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 80px;
  width: 80px;
}
.text-success {
    color: #9c6;
}
.text-danger {
    color: #c77;
}
.cmt{
  color: #999;
}

.task_row {
    line-height: 35px;
    font-size: 16px;
}
.task_row > .tsk_head{
    font-weight: bold;
    width: 120px;
    display: inline-block;

}
.modal {
    margin-top: 50px;
}
.pagination{
  float: right;
}
.borderless tbody tr td {
  border: none;
}
.borderless tbody{
  border: 1px solid #ddd;
}
#contactList_wrapper > .row .col-lg-6 #contactList_length{
  display:none;
}
#contactList_wrapper > .row .col-lg-6:first-child{
  float: left;
}
#contactList_wrapper > .row .col-lg-6:last-child{
  float: right;
}
.add_contact_tab .col-lg-6:last-child{float: right;}

.logos-div {
    bottom: 0;
    height: 150px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    white-space: nowrap;
    width: 300px;
}

.logos-div > img {
    display: block;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.control-btn {
    text-align: center;
    margin-top: 10px;
}
.recurring_task a:hover { text-decoration:underline; }

.kanban-inner-container .priority_dot{
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  bottom: 15px;
  right: 12px;
}
.kanban-inner-container .priority_dot.pri_col_hot{
  background: #E95554;
}
.kanban-inner-container .priority_dot.pri_col_warm{
  background: #FC9A01;
}
.kanban-inner-container .priority_dot.pri_col_cold{
  background: #E8B523;
}
.kanban_view .status_container:nth-child(4n+4){padding-right:0}

/* .kanban_view .status_container:nth-child(2n) .status_header { */
    /* background: #fff none repeat scroll 0 0; */
    /* border-bottom: medium solid #fbf9fa; */
    /* border-left: 19px solid transparent; */
    /* border-top: medium solid #fbf9fa; */
    /* box-sizing: border-box; */
    /* color: #333; */
    /* font-size: 15px; */
    /* font-weight: 600; */
/* } */
.fixed-in-app-header{
  position: fixed;
  top: 60px;
  width: 100%;
  margin-bottom: 0;
  z-index: 9;
  box-shadow: 0px 0px 2px #ccc;
  padding-right: 210px;
  height:60px;
}

.status_container {padding: 5px 20px 15px 5px;}
.status_container .inner_one{
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.19);
}
.dataTables_empty{text-align: center;}